name: biyemek
description: A new Flutter project.
publish_to: 'none' 


version: 1.0.0+1

environment:
  sdk: '>=2.19.1 <3.0.0'


dependencies:
  flutter:
    sdk: flutter
  introduction_screen: ^3.1.8
  shared_preferences: ^2.0.11
  flutter_page_view_indicator: ^0.0.5
  smooth_page_indicator: ^1.0.0+2
  google_nav_bar: ^5.0.6
  flutter_svg: ^0.22.0
  flutter_animated_icons: ^1.0.1
  firebase_core: ^2.14.0
  cupertino_icons: ^1.0.2
  firebase_auth: ^4.6.3
  google_sign_in: ^6.1.4
  cloud_firestore: ^4.8.2
  font_awesome_flutter: ^9.1.0
  dotted_dashed_line: ^0.0.3
  status_stepper: ^1.0.0
  liquid_swipe: ^3.1.0





dev_dependencies:
  flutter_test:
    sdk: flutter


  flutter_lints: ^2.0.0


flutter:


  uses-material-design: true


  assets:
    - assets/images/logo/
    - assets/images/onboarding/

    - assets/images/img.png
    - assets/images/img_1.png

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages